/* -------------------------
   GLOBAL
--------------------------*/

body.neo-body {
    background: #e0e5ec;
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.neo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 25px;
    background: #e0e5ec;
    box-shadow: 4px 4px 8px #b9bec5, -4px -4px 8px #ffffff;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #e0e5ec;
    box-shadow: inset 4px 4px 8px #b9bec5, inset -4px -4px 8px #ffffff;
}

.nav-title {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
}

.nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.nav-link.active {
    font-weight: bold;
}

.nav-btn {
    border: none;
    background: none;
    cursor: pointer;
}

/* Main */
.neo-main {
    padding: 25px;
}

.neo-main-center {
    display: flex;
    justify-content: center;
    padding: 60px;
}

/* Cards */
.neo-card, .neo-card-wide, .login-card {
    background: #e0e5ec;
    padding: 22px;
    border-radius: 20px;
    margin-bottom: 25px;
    box-shadow: 8px 8px 16px #b8b8b8, -8px -8px 16px #ffffff;
}

.neo-card-wide {
    width: 600px;
}

/* Inputs */
.neo-input {
    width: 100%;
    padding: 10px;
    border-radius: 14px;
    border: none;
    background: #e0e5ec;
    box-shadow: inset 4px 4px 8px #b9bec5, inset -4px -4px 8px #ffffff;
}

/* Buttons */
.neo-btn {
    padding: 12px 16px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 4px 4px 8px #b9bec5, -4px -4px 8px #ffffff;
}

.neo-btn.primary { background: #4c8bf5; color: white; }
.neo-btn.secondary { background: #8a8af5; color: white; }
.neo-btn.success { background: #27ae60; color: white; }
.neo-btn warning full{background: #5827ae; color: white;}
.neo-btn.full { width: 100%; }

/* Tables */
.table-wrapper {
    overflow-x: auto;
}

.neo-table {
    width: 100%;
    border-collapse: collapse;
}

.neo-table th, .neo-table td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

/* Gantt */
.gantt-container {
    margin-top: 20px;
}

.gantt-row {
    display: flex;
    align-items: center;
    margin: 6px 0;
}

.gantt-label {
    width: 60px;
    font-weight: bold;
}

.gantt-timeline {
    display: flex;
    height: 22px;
    align-items: center;
    background: #d9dee5;
    border-radius: 10px;
    flex-grow: 1;
}

.gantt-spacer {
    height: 14px;
}

.gantt-bar {
    height: 14px;
    background: #4c8bf5;
    border-radius: 6px;
}


.algo-label {
    font-size: 11px;
    color: white;
    padding: 2px 6px;
    border-radius: 8px;
    font-weight: bold;
    background: rgba(0,0,0,0.25);
}
